
<div class="calculator-parent">
<h1>Le Wagon's Calculator</h1>
  <div class="calculator">
    <div class="calculator-input"></div>
    <div class="calculator-buttons">
      <button class="number-button">7</button>
      <button class="number-button">8</button>
      <button class="number-button">9</button>
      <button class="operator-button">/</button>
      <button class="number-button">4</button>
      <button class="number-button">5</button>
      <button class="number-button">6</button>
      <button class="operator-button">x</button>
      <button class="number-button">1</button>
      <button class="number-button">2</button>
      <button class="number-button">3</button>
      <button class="operator-button">-</button>
      <button class="number-button">0</button>
      <button class="operator-button">.</button>
      <button class="operator-button">=</button>
      <button class="operator-button">+</button>
    </div>
    <div class="logo">
      <%= image_tag('LogoWagon.png', alt: 'Logo Wagon') %>
    </div>
</div>
